
.top div a {
    color: #020202;
    padding: 14px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;

}

#round img {
    border-radius: 50%;
}

#menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 50%;
}


.con {

    display: flex;
    justify-content: space-between;
    background-color: #8f8d8d5d;
    padding: 5px;
}

/* ...... */

.container {
    position: relative;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0px;
    left: 16px;
    font-size: 18px;
  }
  .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    border: 3px dotted black;

  }
  .out {
    font-size: 30px;
    color: black;
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
}


.in {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: nowrap;
  }

.flex-item1{
    color: black;
   
    text-align: center;
    top: 50%;
    width: 110%;
   
 
}
.flex-item2{
    color: black;
    position: absolute;
    top: 50%;
    width: 75%;
    text-align: center;
    padding-left: 100px;
}
/* .in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
} */