div#main{
    background-image: url(../img/waifu2.jpeg);
    background-size: cover;
    margin: auto;
    padding-left: 10px;
    border: 10px solid black;
    color: white;
}



div#background{
    background-image: url(../img/crop1.png);
}
div#second {
    background-color: rgba(192, 192, 192, 0.479);
    background-size: contain;
    /* background-size: cover; */
    /* background: repeat; */
    margin: auto;
    padding: auto;
    border: 10px solid black;
    color: white;
}
